!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Doctor's Appointment Request Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="styles/style.css">
</head>
<!--  nav bar  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://github.com/Jacob-Vance/dev-lewis-pull.git" target='_blank'>GitHub REPO</a></li>
    </ul>
  </div>
</nav>
<!-- Content -->
<div class='content'>
  <div class='container'>
    <div id="titleBar" class="col-md-8 offset-md-2 text-center rounded">
      <h1>Doctor's Appointment Request Form</h1>
      <br>
      <h3>Please fill in all the field to request an appointment</h3>
      <br>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm'>
        <!--   second column   -->
      
        
          <form method="POST" action="/delete/<%= pData[0]._id%>">
        </form>

        <form method="POST" action="/insert">
          <label for='fname'>First Name:</label>
          <input type="text" id= 'fname' name='fname'>
          <br>
          <br>
          <label for='lname'>Last Name:</label>
          <input type="text" id="lname" name="lname">
          <br>
          <br>
          <label for='email'>Email Address:</label>
          <input type='text' id='email' name='email'>
          <br>
          <button type="submit">insert</button>
          <br>
          <label for='street'>Patient's Street Address:</label>
          <input type='text' id='street' name='street'>
          <br>
          <br>
          <label for='city'>Patient's City:</label>
          <input type='text' id='city' name='city'>
          <br>
          <br>
          <label for="state" >Patient's State</label>
          <select type="select" id="state" name="state">
            <option value="" disabled selected>Select your State</option>
            <option value="Alabama">AL</option>
            <option value="Alaska">AK</option>
            <option value="Arizona">AZ</option>
            <option value="Arkansas">AR</option>
            <option value="California">CA</option>
            <option value="Colorado">CO</option>
            <option value="Connecticut">CT</option>
            <option value="Delaware">DE</option>
            <option value="Florida">FL</option>
            <option value="Georgia">GA</option>
            <option value="Hawaii">HI</option>
            <option value="Idaho">ID</option>
            <option value="Illinois">IL</option>
            <option value="Indiana">IN</option>
            <option value="Iowa">IA</option>
            <option value="Kansas">KS</option>
            <option value="Kentucky">KY</option>
            <option value="Louisiana">LA</option>
            <option value="Maine">ME</option>
            <option value="Maryland">MD</option>
            <option value="Massachusetts">MA</option>
            <option value="Michigan">MI</option>
            <option value="Minnesota">MN</option>
            <option value="Mississippi">MS</option>
            <option value="Missouri">MO</option>
            <option value="Montana">MT</option>
            <option value="Nebraska">NE</option>
            <option value="Nevada">NV</option>
            <option value="New Hampshire">NH</option>
            <option value="New Jersey">NJ</option>
            <option value="New Mexico">NM</option>
            <option value="New York">NY</option>
            <option value="North Carolina">NC</option>
            <option value="North Dakota">ND</option>
            <option value="Ohio">OH</option>
            <option value="Oklahoma">OK</option>
            <option value="Oregon">OR</option>
            <option value="Pennsylvania">PA</option>
            <option value="Rhode Island">RI</option>
            <option value="South Carolina">SC</option>
            <option value="South Dakota">SD</option>
            <option value="Tennessee">TN</option>
            <option value="Texas">TX</option>
            <option value="Utah">UT</option>
            <option value="Vermont">VT</option>
            <option value="Virginia">VA</option>
            <option value="Washington">WA</option>
            <option value="West Virginia">WV</option>
            <option value="Wisconsin">WI</option>
            <option value="Wyoming">WY</option>
          </select>
          <br>
          <br>
          <label for='zip'>Patient's Zip Code/Postal Code:</label>
          <input type='text' id='zip' name='zip'>
          <br>
          <br>
          <label for='physican'>Preferred Physican (if known):</label>
          <input type='text' id='physican' name='physican'>
          <br>
          <br>
          <label for='insurance'>Patient's Insurance Carrier:</label>
          <input type='text' id='insurance' name='insurance'>
          <br>
          <br>
          <label for='phone'>Phone:</label>
          <input type='text' id='phone' name='phone'>
          <br>
          <br>
        </fprm>
        </form>
        </form>
          <!-- <p>Requestor's Relationship:<br>
            <input type="radio"
                   class="form-check-input" 
                   id="self" 
                   name="relationship" 
                   value="self">
            <label for="self">Self</label>
            <br>
            <input type="radio" 
                   class="form-check-input" 
                   id="parent" 
                   name="relationship" 
                   value="parent">
            <label for="parent">Parent</label>
            <br>
            <input type="radio" 
                   class="form-check-input" 
                   id="guardian" 
                   name="relationship" 
                   value="guardian">
            <label for="guardian">Guardian</label>
            <br>
            <input type="radio" 
                   class="form-check-input" 
                   id="other" 
                   name="relationship" 
                   value="other">
            <label for="other">Other</label>
            <br> 
            <div id="otherrelationship" style="display:none">
              <label for="homeAddy">Please Specify</label>
              <input type="text" id="homeAddy" name="homeAddy">
            </div>
          <br>
      </div> -->
      <!--    second column    -->
      <div class='col-4'>
        <!-- <label for='physican'>Preferred Physican (if known):</label>
        <input type='text' id='physican' name='physican'>
        <br>
        <br>
        <label for='insurance'>Patient's Insurance Carrier:</label>
        <input type='text' id='insurance' name='insurance'>
        <br>
        <br>
        <label for='phone'>Phone:</label>
        <input type='text' id='phone' name='phone'>
        <br>
        <br> -->
        <!-- <p>Best Time to Call:<br>
          <input type="radio"
                 class="form-check-input" 
                 id="morning" 
                 name="calltime" 
                 value="morning">
          <label for="morning">Morning (8 a.m. - 12 p.m.)</label>
          <br>
          <input type="radio" 
                 class="form-check-input" 
                 id="night" 
                 name="calltime" 
                 value="night">
          <label for="night">Afternoon (12 p.m. - 5 p.m.)</label>
          <br>
        <p>Do you need a translator?<br>
          <input type="radio"
                 class="form-check-input" 
                 id="yes" 
                 name="translator" 
                 value="yes">
          <label for="yes">Yes</label>
          <br>
          <input type="radio" 
                 class="form-check-input" 
                 id="no" 
                 name="translator" 
                 value="no">
          <label for="no">No</label>
          <br>
        <p>Patient Type:<br>
          <input type="radio"
                 class="form-check-input" 
                 id="new" 
                 name="patient" 
                 value="new">
          <label for="new">New Patient</label>
          <br>
          <input type="radio" 
                 class="form-check-input" 
                 id="current" 
                 name="patient" 
                 value="current">
          <label for="current">Current Patient</label>
          <br>
        <p>Appointment Type:<br>
          <input type="radio"
                 class="form-check-input" 
                 id="inoffice" 
                 name="appointment" 
                 value="inoffice">
          <label for="checkup">In-office</label>
          <br>
          <input type="radio" 
                 class="form-check-input" 
                 id="telehealth" 
                 name="appointment" 
                 value="telehealth">
          <label for="sick">Telehealth</label>
          <br>
          <input type="radio" 
                 class="form-check-input" 
                 id="nopref" 
                 name="appointment" 
                 value="nopref">
          <label for="nopref">No Preference</label>
          <br>
      </div> -->
      <!--     third column     -->
      <div class='col-sm'>
        <!-- <p>Which Procedure are you making an appointment for?<br>
          
          <input type="checkbox" id="cbox1" name="cbox1" value="examinatiom">
          <label for="cbox1">Medical Examination</label><br>
          <input type="checkbox" id="cbox2" name="cbox2" value="surgery">
          <label for="cbox2">Surgery</label><br>
          <input type="checkbox" id="cbox3" name="cbox3" value="consultation">
          <label for="cbox3">Consultation</label><br>
          <input type="checkbox" id="cbox4" name="cbox5" value="sick">
          <label for="cbox5">Sick Visit</label><br>
          <input type="checkbox" id="cbox5" name="cbox6" value="Results">
          <label for="cbox6">Results Analysis</label><br>
          <input type="checkbox" id="cbox6" name="cbox4" value="checkup">
          <label for="cbox4">Check-up</label>
          <br>
          <br>
          <label for='datetimeBox'>Requested Appointment Date:</label>
          <input type='datetime-local' id='datetimeBox' name='datetimeBox'>
          <br> -->
          <!--    buttons    -->
          <br>
          <br>
          <input type="reset" class="btn btn-primary" value="Reset">
          <br>
          <br>
          <button id="displayBtn" type="button" class="btn btn-success">Submit</button>
          <br>
          <br>
          <button id="loadBtn" type="button" class="btn btn-warning">Load Data</button>
          <br>
          <!-- button to update... -->
          <br>
          <p id='pg1'>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- <h4>past patient registration</h4>

  <% pData.forEach((value, index)=> { %> 

   <p>index = <%=index%>, value = <%=value%> </p>
    , _id = <%= pData[index]._id %> 

     
<%

 })  %> -->
  
 <% pData.forEach((value)=> { %>

  <form method="POST" action="/update/<%= value._id%>">>
    First Name:<input name="fname" value="<%= value.fname %>">
    <p>Last Name: <%= value.lname %></p>
    <p>Email: <%= value.email %></p>
    <p>Street: <%= value.street %></p>
    <p>City: <%= value.city %></p>
    <p>State: <%= value.state %></p>
    <p>Zip: <%= value.zip %></p>
    <p>Physican: <%= value.physican %></p>
    <p>Insurance: <%= value.insurance %></p>
    <p>Phone: <%= value.phone %></p>
    <button id="updateBtn" type="submit" class="btn btn-info">Update</button>
    </form>
    <form method="POST" action="/delete/<%= value._id%>">
    
    <button id="deleteBtn" type="submit" class="btn btn-danger">Delete</button>
</form>

    <% }) %>

 
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="scripts/script.js"></script>


<script >function loadData() {
  document.getElementById('fname').value = '<%= pData[0].fname %>'
  document.getElementById('lname').value = '<%= pData[0].lname %>'
  document.getElementById('email').value = '<%= pData[0].email %>'
  document.getElementById('street').value = '<%= pData[0].street %>'
 
};</script>
</html>
